@model Aircnc.FrontStage.Models.ViewModels.Personal.PersonalViewModel;

<section class="section1">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <a href="#" class="fw-bold account">帳號</a>
                <span class="fw-bold mx-2">></span>
                <span class="fw-bold">個人資料</span>
            </div>
            <div class="col-10">
                <span class="fs-2 fw-bold">個人資料</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mt-5">
                <div class="sec-1">
                    <p class="title">法定名稱</p>
                    <label for="" class="text-decoration-underline fw-bold">編輯</label>
                </div>
                <p>@Model.Name</p>
                <div class="input-group d-flex justify-content-between">
                    <input type="text" class="form-control inp " placeholder="名字">
                    <input type="text" class="form-control inp " placeholder="姓氏">
                </div>

                <div>
                    <input class="btnss mt-3" type="button" value="儲存">
                </div>

                <hr style="border : 0.3px solid grey;" class="mt-5" />
                <div class="sec-1">
                    <p class="title">性別</p>
                    <label for="" class="text-decoration-underline fw-bold">編輯</label>
                </div>
                <p>@(Model.Gender==true?"男性":"女性")</p>
                <select class="form-select form-select-lg mb-3 inp" aria-label=".form-select-lg example">
                    <option selected>性別</option>
                    <option value="1">男性</option>
                    <option value="2">女性</option>
                    <option value="3">其他</option>
                </select>
                <div>
                    <input class="btnss mt-3" type="button" value="儲存">
                </div>
                <hr style="border : 0.3px solid grey;" class="mt-5" />

                <div class="sec-1">
                    <p class="title">出生日期</p>
                    <label for="" class="text-decoration-underline fw-bold">編輯</label>
                </div>
                <p>@Model.Birthday</p>
                <input type="date" class="form-control inp" id="date" name="date">
                <div>
                    <input class="btnss mt-3" type="button" value="儲存">
                </div>
                <hr style="border : 0.3px solid grey;" class="mt-5" />

                <div class="sec-1">
                    <p class="title">電子郵件地址</p>
                    <label for="" class="text-decoration-underline fw-bold">編輯</label>
                </div>
                <p>@Model.Email</p>
                <input type="text" class="form-control inp " placeholder="電子郵件地址">
                <div>
                    <input class="btnss mt-3" type="button" value="儲存">
                </div>
                <hr style="border : 0.3px solid grey;" class="mt-5" />

                <div class="sec-1">
                    <p class="title">電話號碼</p>
                    <label for="" class="text-decoration-underline fw-bold">編輯</label>
                </div>
                <p>@Model.Phone</p>
                @*<p>新增電話號碼，以便旅客和 Airbnb 能夠與你聯絡。你可以新增其他號碼並選擇其使用方式。</p>*@

                <input type="text" class="form-control inp " placeholder="電話號碼">
                <div>
                    <input class="btnss mt-3" type="button" value="驗證">
                </div>
                <hr style="border : 0.3px solid grey;" class="mt-5" />

                <div class="sec-1">
                    <p class="title">政府核發的身分文件</p>
                    <label for="" class="text-decoration-underline fw-bold">編輯</label>
                </div>
                <p>未提供</p>
                <hr style="border : 0.3px solid grey;" class="mt-5" />

                <div class="sec-1">
                    <p class="title">地址</p>
                    <label for="" class="text-decoration-underline fw-bold">編輯</label>
                </div>
                <p>@Model.Address</p>
                <select class="form-select form-select-lg mt-3 inp" aria-label=".form-select-lg example">
                    <option selected>國家</option>
                    <option value="1">台灣</option>
                    <option value="2">美國</option>
                    <option value="3">日本</option>
                </select>
                <input type="text" class="form-control inp mt-2 " placeholder="街道地址">
                <input type="text" class="form-control inp mt-2" placeholder="公寓、套房">
                <input type="text" class="form-control inp mt-2" placeholder="城市">
                <input type="text" class="form-control inp mt-2" placeholder="州/省/郡/區">
                <input type="text" class="form-control inp mt-2" placeholder="郵遞區號">
                <div>
                    <input class="btnss mt-3" type="button" value="儲存">
                </div>
                <hr style="border : 0.3px solid grey;" class="mt-5" />

                <div class="sec-1">
                    <p class="title">緊急聯絡人</p>
                    <label for="" class="text-decoration-underline fw-bold">編輯</label>
                </div>
                <p>@Model.EmergencyContactName</p>
                <input type="text" class="form-control inp mt-2" placeholder="名稱">
                <input type="text" class="form-control inp mt-2" placeholder="關係">
                <input type="text" class="form-control inp mt-2" placeholder="語言">
                <input type="text" class="form-control inp mt-2" placeholder="電子郵件">
                <select class="form-select form-select-lg mt-2 inp" aria-label=".form-select-lg example">
                    <option selected>國家</option>
                    <option value="1">台灣</option>
                    <option value="2">美國</option>
                    <option value="3">日本</option>
                </select>
                <input type="text" class="form-control inp mt-2" placeholder="電話號碼">
                <div>
                    <input class="btnss mt-3" type="button" value="儲存">
                </div>
                <hr style="border : 0.3px solid grey;" class="mt-5" />

                <div class="sec-1">
                    <p class="title">中國旅遊的護照資訊</p>
                    <label for="" class="text-decoration-underline fw-bold">編輯</label>
                </div>
                <p>未提供</p>
                <hr style="border : 0.3px solid grey;" class="mt-5" />
            </div>
            <div class="col-12 col-md-2 mt-5">

            </div>
            <div class="col-12 col-md-4 rightbox">
                <i class="fas fa-shield-alt fs-1"></i>
                <h2 class="rbh">哪些詳細資訊可以編輯？</h2>
                <p class="rbht">Airbnb 用於驗證你身分的詳細資訊無法更改。你可以編輯聯絡資訊和部分個人資料，但我們可能會在你下次預訂或建立房源／體驗時要求你驗證身分。</p>
                <hr style="border : 0.3px solid grey;" class="mt-5" />
                <i class="fas fa-shield-alt fs-1 mt-3"></i>
                <h2 class="rbh">哪些資訊會提供給其他人？</h2>
                <p class="rbht">只有在預訂確認後，Airbnb 才會提供聯絡資訊給房東、體驗達人和旅客。</p>
            </div>
        </div>
    </div>
</section>

@section topCss{
    <link href="~/Personal/index-style.css" rel="stylesheet" />
    <link href="~/Personal/001.css" rel="stylesheet" />
}