@{
    ViewData["Title"] = "你的旅程 - 帳號設定";
    Layout = "OrderListLayout";
}
@model IEnumerable<Aircnc.FrontStage.Models.ViewModels.Order.OrderViewModel>
<!-- 中間內容 -->
<div class="container-fluid">
    <div class="container">
        <div class="row topic">
            <h1 class="topic fw-bold fs-2 ms-2 mt-3">旅程</h1>
            <span class=" fw-bold fs-4 ms-2 mt-3">即將開始的預定</span>
        </div>
    </div>
</div>

<div class="container-fluid content-box mt-5">
    <div class="container">
        @if (Model.Count() == 0)
        {
            @*沒有資料的版面*@ 
            <div class="row  reservation rounded-2 mt-2">
                <div class="col-10 col-md-4 mt-2 mb-3 p-4">
                    <i class="fas fa-hand-paper fs-1 icon"></i>
                    <span class="fw-bold fs-5 d-block">還沒預訂任何旅程！</span>
                    <span class="description">該拿出行李箱，開始規劃下一趟冒險之旅了</span>
                    <button class="btn mt-3 search_btn"><a href="#" class="text-white fw-bold">開始搜尋</a></button>
                </div>
                <div class="col-10 col-md-8">
                    <img src="https://picsum.photos/600/250/?random=10" class="w-100 h-100">
                </div>
            </div>
        }
        else
        {
            @* 有資料的版面 *@
            @foreach (var data in Model)
            {
                <div class="row mb-5">
                    <div class="col-10 col-md-8 my-3 p-4 ms-3 d-flex shadow order">
                        <a href="#" class="order-detail-link">
                            <div class="col-10 col-md-5 order-content">
                                <!-- District -->
                                <span class="fw-bold fs-3 d-block my-2 ">@data.District</span>
                                <!-- 房源名稱 -->
                                <span class="order-room-detail fs-5">@data.RoomName</span>
                                <div class="date-address-content d-flex mt-4">
                                    <!-- 入退房日期 -->
                                    <div class="col-6  pe-md-5 check-in-out-date">
                                        <span class="fs-5">@data.CkeckIn - @data.CkeckOut</span>
                                    </div>
                                    <!-- 入住地址 -->
                                    <div class="col-6 col-md-6 stay-address ">
                                        <span class="fs-5">@data.City@data.District@data.Street</span>
                                    </div>
                                </div>
                            </div>
                        @*<img src="https://picsum.photos/200/100/?random=10" class="order-image ms-3 h-100 d-none d-md-block ">*@
                        @*<img src="@data.RoomImg" class="order-image ms-3 h-100 d-none d-md-block ">*@
                        </a>
                    </div>
                </div>
            }
        }

        <!-- 歷史紀錄區塊 -->
        <div class="row history mt-3">
            <span class="fs-5 fw-bold mt-2">你去過的地方</span>
            @foreach(var data in Model)
            {
                <div class="row mt-2">
                    <div class="col-10">
                        <a href="#">
                            <div class="d-flex">
                                <!-- 按這邊可以連接到過去訂單資訊所以用a tag表示 -->
                                <!-- 這裡的內容之後要動態生成 -->
                                <div class="history-detail-img">
                                    <img src="https://picsum.photos/300/200/?random=10" class="rounded-3">
                                </div>
                                <div class="ms-3 history-detail-content">
                                    @*<span class="d-block">福岡市</span>*@
                                    <span class="d-block">@data.City</span>
                                    <span class="d-block">@*房東:ABC*@</span>
                                    <span class="d-block">房東:@data.RoomOwnerName</span>
                                    @*<span>2018/5月/13日— 2018/5月/17日</span>*@
                                    <span>@data.CkeckIn - @data.CkeckOut</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            }
        </div>

        <!-- 已取消區塊 -->
        <div class="row cancel mt-3">
            <span class="fs-5 fw-bold mt-2">已取消的旅程</span>
            @foreach (var cancel in Model)
            {
                <div class="row mt-3">
                    <div class="col-10">
                        <a href="#">
                            <div class="d-flex">
                                <!-- 按這邊可以連接到過去訂單資訊所以用a tag表示 -->
                                <!-- 這裡的內容之後要動態生成 -->
                                <div class="cancel-detail-img">
                                    @*<img src="https://picsum.photos/300/200/?random=20" class="rounded-3">*@
                                    <img src="@cancel.RoomImg" class="rounded-3">
                                </div>
                                <div class="ms-3 cancel-detail-content">
                                    @*<span class="d-block">中正區</span>*@
                                    <span class="d-block">@cancel.District</span>
                                    @*<span class="d-block">房東:ABC</span>*@
                                    <span class="d-block">房東:@cancel.RoomOwnerName</span>
                                    <span>@cancel.CkeckIn - @cancel.CkeckOut</span>
                                    <span>@*2022/3月/27日— 2022/3月/28日*@</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            }

            <!-- 找不到預定區塊 -->
            <div class="not-found mt-3">
                <span>在這裡找不到預訂？</span>
                <a href="#" class="fw-bold info">前往說明中心</a>
            </div>
        </div>
    </div>
</div>

    @section CSS{
        <link href="~/css/Order/Order.css" rel="stylesheet" />
    }


